footer{
    background-color: $footer-color;
    position: relative;
    min-height: 300px;
    padding: 0rem 0rem 3.2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .site-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        @include breakpoint-md{
            flex-direction: column;
            padding: 2rem 0rem;
            align-items: flex-start;
        }
        .about,.legal,.socials{
                align-self: flex-start;
            ul{
                list-style: none;
                padding: 0;
                li{
                    a{
                        position: relative;
                        transition: all .2s ease-in-out;
                        &::after{
                            content: '';
                            transition: all .2s ease-in-out;
                            width: 0%;
                            height: 1px;
                            position: absolute;
                            background-color: black;
                            left: 0;
                            bottom: 0;
                        }
                        &:hover{
                            opacity: .7;
                            &::after{
                                width: 80%;
                                opacity: .3;
                            }  
                        }
                    }
                }
            }
        }
        .socials-wrapper{
            display: flex;
            gap: .8rem;
        }
       
    }
    .copy-claim{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: .8rem;
        p{
            font-size: 1rem;
        }
    }
}