// Stile di base per Contact Form 7
.wpcf7 {
    width: 90%; // Larghezza al 90%
    max-width: 100%; // Evita che il form sfori
    margin: 0 auto; // Centra il form

    // Regola per tutti gli input e textarea
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%; // Larghezza piena
        box-sizing: border-box; // Include padding e bordi nella larghezza
    }

    .wpcf7-submit{
        width: 100%;
        margin-top: 1rem;
        background-color: transparent;
        border: 1px solid black;
        border-radius: 2px;
        transition: all .2s ease-in-out;
        padding-bottom: 5px;
        &:hover{
            background-color: $primary-color;
            color: white;
            border: 1px solid transparent;
        }
    }
}