.site-main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto 140px auto;
    position: relative;
    @include breakpoint-xxl{
        max-width: 1100px;
        margin: 0 80px 140px auto;
    }
    @include breakpoint-xl{
        max-width: 1100px;
        margin: 120px 80px 140px auto;
    }
    @include breakpoint-md{
        width: 90%;
        margin: 0 auto;
    }
}


.post-featured{
    display: flex;
    min-height:300px;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    width: 90%;
    flex-wrap: wrap;
    margin: 120px auto;
    @include breakpoint-md{
       padding-left: 0;
       flex-direction: column;
    }
    &__lefty{
        max-width: 60%;
        display: flex;
        flex-direction: column;
        @include breakpoint-md{
            max-width: initial;
         }
         a{
            h1{
                transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                box-shadow: inset 0 0 0 0 $primary-color;
                &:hover{
                    box-shadow: inset 100vw 0 0 0 $primary-color;
                    color: white;
                }
            }
         }
        .excerpt{
            @include breakpoint-md{
                display: none;
            }
        }
        &--foot{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: .8rem;
            p{
                margin: 0;
                padding: 0;
            }
        }
    }
    &__righty{
        height: 300px;
        width: 25%;
        overflow: hidden;
        align-self: flex-end;
        @include breakpoint-md{
            width: 100%;
            height: 200px;
            margin-top: 1rem;
         }
        img{
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }
}
    
.posts-flex-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 7%;
    margin: 0 auto 10rem auto;
    @include breakpoint-xxl{
        gap: 2rem;
    }
    @include breakpoint-xl{
        flex-direction: column;
    }
    @include breakpoint-md{
        padding-left: 0;
     }

        .post-featured-23{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            max-width: 500px;
            @include breakpoint-xl{
                max-width: initial;
            }
            &__lefty{
                max-width: 100%;
                display: flex;
                flex-direction: column;
                a{
                    h2{
                        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                        box-shadow: inset 0 0 0 0 $primary-color;
                        &:hover{
                            box-shadow: inset 100vw 0 0 0 $primary-color;
                            color: white;
                        }
                    }
                 }
                &--foot{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-top: .8rem;
                    @include breakpoint-md{
                        margin-top: 0;
                    }
                    p{
                        margin: 0;
                        padding: 0;
                    }
                }
            }
            &__righty{
                height: 300px;
                width: 100%;
                overflow: hidden;
                margin-top: 1rem;
                align-self: flex-end;
                @include breakpoint-md{
                    display: none;
                }

                img{
                    object-fit: cover;
                    object-position: center;
                    height: 100%;
                }
            }
        }
    }

    .home-post{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        padding-left: 7%;
        margin: 3rem auto;
        padding: 3rem 0rem;
        border-bottom: 1px solid black;
        height: 260px;
        @include breakpoint-xxl{
            gap: 2rem;
            width: 85%;
        }
        @include breakpoint-md{
            padding-left: 0;
            flex-direction: column;
            width: 100%;
            padding-left: 0rem;
            padding: 0rem;
            gap:0rem;
            height: 160px;
            padding-bottom: 2rem;
        }

        &__lefty{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 300px;
            align-self: flex-start;
            height: 100%;
            a{
                h5{
                    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
                    box-shadow: inset 0 0 0 0 $primary-color;
                    &:hover{
                        box-shadow: inset 100vw 0 0 0 $primary-color;
                        color: white;
                    }
                }
             }
            @include breakpoint-md{
                max-width: initial;
            }
        }
        &__center{
            height: 250px;
            width: 250px;
            overflow: hidden;
            @include breakpoint-md{
                display: none;
            }
            img{
                object-fit: cover;
                object-position: center;
                height: 100%;
            }
        }
        &__righty{
            max-width: 250px;
        }
    }

    .home{
        .excerpt{
            @include breakpoint-md{
                display: none;
            }
        }
    }