.page-template{
    display: flex;
    min-height:300px;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 7%;
    width: 90%;
    flex-wrap: wrap;
    margin: 120px auto;
}