.site-main-single-post{
    display: flex;
    min-height:300px;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    flex-wrap: wrap;
    margin: 120px auto;
    @include breakpoint-md{
        padding-left: 0rem;
    }
    
    h1{
        width: 100%;
    }
    .info-single{
        display: flex; 
        gap: 1rem;
        align-items: center;
        margin-bottom: 1.2rem;
        @include breakpoint-xl{
            flex-direction: column;
            gap: .3rem;
            margin: 1rem 0rem;
            align-items: flex-start;
        }
    }
    .img-wrap-single{
        max-height: 400px;
        overflow: hidden;
        margin: 100px 0px;
        img{
            object-fit: cover;
            object-position: center;
            height: 100%;
        }
    }
    .content-single{
        margin: 1.4rem 0rem;
        a{
            text-decoration: underline;
            font-weight: 600;
            transition: all .2s ease-in-out;
            &:hover{
                opacity: .5;
            }
        }
    }
}
.latest-posts{
    a{
        h2{
            transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
            box-shadow: inset 0 0 0 0 $primary-color;
            margin-left: 0;
            &:hover{
                box-shadow: inset 100vw 0 0 0 $primary-color;
                color: white;
            }
        }
     }
    .latest-post-title{
        margin: 3rem auto;
        padding: 3rem 0rem;
        left: 7%;
        margin: 120px auto;

    }
    .excerpt{
        @include breakpoint-md{
            display: none;
        }
    }
}
